.product {
    border: 1px solid #c0c0c0;
    border-radius: 50px;
    margin: 12px;
    background-color: white;
    display: inline-block;
    width: 250px;
    height: 420px;
    vertical-align: top;
}

.product h3 {
    margin: 5px;
    color: tomato;
}

.product img {
    width: 100%;
    object-fit: cover;
    

}

.product-price {
    display: flex;
    flex-direction: column;
}

.product button {
    margin-top: 5px;
}

